* {
    color:white;
}

html {
    height: 100vh;
}

body {
    background-image: linear-gradient(to right, #000, #3533cd);
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction:column;
    margin:0;
}

section {
    scroll-margin-top:70px;
}

.nav {
    box-sizing:border-box;
    border:2px solid red;
    width:100%;
    position:sticky;
    top:0;
    background-image:linear-gradient(to right,#000,#3533cd);
    display:flex;
    justify-content:center;
    z-index:10;
}

.nav__ul {
    border:2px solid orange;
    list-style:none;
    display:flex;
    width:78%;
    align-items:stretch;
    padding:0;
}

.nav__li {
    border: 2px solid pink;
    margin:0;
    flex-grow:1;
    padding:0;
    text-align:center;
    align-content: center;
}

.nav__li:hover {
    background-image: linear-gradient(to right, #000,#3533cd);
}

.nav__li a {
    display:inline-block;
    flex:1;
    border: 2px solid orchid;
    color:#38b6ff;
    font-family:"open sans";
    font-weight: 800;
    text-decoration:none;
    width:100%;
}

.header {
    height: 88vh;
    display: flex;
    width:100%;
    margin:0 0 0 0;
    border:3.5px solid #000;
    justify-content:center;
    box-sizing:border-box;
    align-items:center;
}

.header__profile {
    align-content:center;
    display: flex;
    border: 2px solid brown;
    margin:0;
    height:50%;
    transition: transform 0.3s ease;
}

.header__profile:hover {
    transform: scale(1.15)
}

.header__profile img {
    border-radius:50%;
    background-image: radial-gradient(circle, white 69%, black 70%);
    border: 0.5em solid black;
    height:80%;
    margin:0;
}

.header__presentation {
    display: inline-block;
    border: 2px solid brown;
    margin:0;
    height:50%;
    width:40%;
}

.header__name {
    border: 2px solid red;
    display: flex;
    flex-direction:column;
    height:50%
}

.header__name h1 {
    color: #5ce1e6;
    order:2;
    font-family: "open sans";
    margin:0;
    letter-spacing:0.1em;
    word-spacing: 0.1em;
    font-weight: 500;
    font-size:400%;
    border:5px solid purple;
    height:70%;
}

.header__name p {
    color:#5271ff;
    order:1;
    font-family: "open sans";
    text-align:right;
    margin:0;
    font-size: 250%;
    letter-spacing: 10%;
    border: 2px solid pink;
    height:30%;
    padding:0 0.3em;
}


.header__info {
    border: 3px solid yellow;
    display:flex;
    height:30%;
    justify-content:space-around;
    margin:0;
}

.header__cv {
    border: 2px solid green;
    display:flex;
    align-items:center;
    width:50%;
}

.link--cv {
    margin:10px;
    width:80%;
    height:25%;
    display:inline-block;
    padding:7px 15px;
    background-color: #2e2db3;
    border: 5px solid black;
    border-radius: 15px;
    font-size: 100%;
    text-align: center;
    font-family: "Balsamiq Sans";
    text-decoration: none;
}

.header__networks {
    border: 1px solid rgb(187, 0, 255);
    display: flex;
    justify-content: space-between;
    width:50%;
}

.link--github {
    background-color: transparent;
    border:0.5em solid black;
    text-decoration: none;
    border-radius: 100%;
    width: 5.1em;
    height:5.1em;
    box-sizing:border-box;
    margin:auto;
}

.link--wsp{
    border:0.4em solid black;
    text-decoration: none;
    border-radius: 50%;
    width: 3.7em;
    height:3.7em;
    margin:auto
}

.link--linkedin{
    height: 4em;
    border-radius:1.5em;
    margin:auto;
    border:0.35em solid black;
}


.image--wsp {
    border-radius: 1em;
    width: 4.3em;
    height:4.3em;
    position:relative;
    top:-0.1em;
    left:-0.15em;
    filter:drop-shadow(-5em 5em 5em black)
}

.image--github {
    width: 4.3em;
    height:4.3em;
    background-image:radial-gradient(circle, white 65%, black 65%);
    position: relative;
    top:-0.1em;
    left:-0.1em;
    z-index:-1;
    border-radius:50em;
    padding:0;
    margin:0;
}

.header__link {
    transition: transform 0.2s ease; 
}

.header__link:hover {
    transform: scale(1.14)
}

.image--linkedin {
    width: 4em;
    height:4em;
    background-color:white;
    border-radius:1em;
    position:relative;
    z-index:-1;
}

hr {
    display:block;
    height: 3px;
    width:90%;
    background-color:black;
    border: 0;
    background-image: linear-gradient(to right, #2e2db3, #3533cd)
}

section {
    width: 100%;
    box-sizing:border-box;
    border: 3px solid orange;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

}
section>p {
    border: 2px solid red;
}

section div {
    border: 2px solid yellow;
}

section div p {
    border: 2px solid green;
}

.parrafo--abount_me {
    width: 400px;
    margin-bottom:5%;
}

h2 {
    border: 2px solid orchid;
    color:#38b6ff;
    font-family:"open sans";
    font-weight: 800;
    -webkit-text-fill-color: #38b6ff; 
    -webkit-text-stroke: 1.1px #005180;
}

h3 {
    border: 2px solid #aaa;
    color:#0cc0df;
}

p {
    color: #38b6ff;
}

.section--skills {
    height:20%;
}

.section__p {
    transition: transform 0.3s ease;
}

.section__p:hover {
    transform:scale(1.3)
}

.section__h3 {
    transition: transform 0.5s ease;
}

.section__h3:hover {
    transform:scale(1.2)
}

.content--link {
    width: 80%;
    height: 15vh;
    display:flex;
    justify-content:space-around;
    align-items: center;
    border:2px solid red;
}

.h3--hardsk, .h3--softsk {
    color:#6DE1F5;
    font-family:"open sans";
    font-weight:400;
    position: relative;
    left:-35%;
    text-shadow: 0px 0px 0.484916px  rgba(0, 193, 226, 0.95), 0px 0px 2.42458px  rgba(10, 194, 226, 0.75),  0px 0px 7.27374px  rgba(10, 194, 226, 0.44);
}

.content--link img  {
    height:50%;
    transition:transform 0.2s ease;
}

.content--link img:hover {
    transform:scale(1.3)
}

.content--skills {
    width:80%;
    display:flex;
    margin-bottom:50px;
    justify-content:center;
    flex-wrap:wrap;
    text-align:center;
}

.p--skGt, .p--skCmp, .p--skRp {
    font-family:"open sans";
    width:30%;
    margin: 1% 1%;
    height: 100%;
    font-size:90%; 
    font-weight: bolder;
    -webkit-text-fill-color:#38b6ff;
    -webkit-text-stroke: 0.5px #005180;
}

.p--skAdp, .p--skCm {
    font-family:"open sans";
    width:40%;
    margin: 1% 1%;
    -webkit-text-fill-color:#38b6ff;
    -webkit-text-stroke: 0.5px #005180;
    height: 100%;
    font-size:90%;
    font-weight: bolder;
}

.content--proy, .content--acknow {
    width:80%;
    height: 300px;
    display:grid;
    grid-template-columns: auto auto auto;
    border: 5px solid #004aad;
    padding:10px;
    border-radius: 30px;
    margin: 30px 0;
}

.content--proy>div, .content-acknow>div {
    border-radius: 30px;
    margin: 10px;
}


.content--contact {
    width: 80%;
    height:300px;
    display:flex;
    justify-content:space-between;
}

.content--message, .content--networks {
    width: 45%;
    border: 5px solid red;
    display:flex;
    flex-direction:column;
}

.content--message {
    background-image: linear-gradient(to right,#000,#3533cd);
    border-radius:10%;
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    
}


#response {
    text-align: center ;

}

.form--contact {
    margin:5% 5% 0 5%;
    display:flex;
    flex-direction: column;
    height:80%;
}

.form--contact p {
    margin:0;
    color:#38b6ff;
    font-family:"open sans";
    font-weight: 800;
    -webkit-text-fill-color: #38b6ff; 
    -webkit-text-stroke: 1.1px #005180;
}

.input--name, .input--email {
    width: 100%;
    color:#000; 
    padding:0;
    border:0;    
    border-radius:5px;
    background-color: #004aad;
    border:2px solid black;
    box-sizing:border-box;
    outline:none;
}


.input--name:focus, .input--email:focus {
    border-color:red;
}


.input--send {
    cursor:pointer;
    width: 100%;
    height:12%;
    color:#000;
    padding:0;
    margin:10px 0; 
    border-radius:10px;
    border:2px solid black;
    background-color:#38b6ff;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.input--send:hover {
    background-color: #5271ff;

}

.input--send:active {
    transform: scale(0.97); /* Efecto de presionar */
    background-color: #3730a3; /* Color más oscuro al presionar */
    transition: background-color 0.1s ease, transform 0.2s ease;

}

.input--msg {
    font-weight:700;
    font-family:"open sans";
    box-sizing:border-box;
    width: 100%;
    height:25%;
    color:#000;
    resize: none;
    padding:5px;
    border-radius:10px;
    background-color: #004aad;
    border:2px solid black;
    outline:none;
}


.input--msg:focus {
    border-color:#200653;
}



.content--maps, .content--mail {
    display:flex;
    align-items:center
}


.content--maps img, .content--mail img{
    width:10%;
}

.content--red {
    display:flex;
    justify-content:space-around;
}

.content--red a {
    padding:0;
    border-radius:100%;
}

.content--red a img:not(.a--link) {
    width:40px;
    background:radial-gradient(circle, #fff 50%,  #000 70%);
    border-radius:100%;
    border:3px solid black;
}

.a--link {
    width:40px;
    background:radial-gradient(circle, #fff 70%, #000 80%) ;
    border-radius:20%;
    border:3px solid black;
}


.footer--fn {
    width:100%;
    height: 100px;
}


.content--proy1,
.content--proy2,
.content--proy3,
.content--proy4,
.content--proy5,
.content--proy6{
    display:flex;
    margin:0;
    justify-content:space-evenly;
    flex-direction:column;
    align-items:center;
    width:30%;
    background-image: url('../images/fond.jpg'); /* ajusta según la estructura */
    background-size: contain;
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
}

.content--proy {
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    flex-wrap: wrap;
    width:80%;
    overflow-y: auto;
    background-image:none;
}

.content--proy1 p,
.content--proy2 p,
.content--proy3 p,
.content--proy4 p,
.content--proy5 p,
.content--proy6 p {
    box-sizing:border-box;
    width:100%;
    height:50%;
    margin:0px;
    line-height:1;
    padding:10px 2.5px 10px 2.5px ;
    text-align:center;
    background-color:rgb(16, 71, 119);
    flex:1;
}

.content--proy1 a,
.content--proy2 a,
.content--proy3 a,
.content--proy4 a,
.content--proy5 a,
.content--proy6 a {
    transition: transform 0.3s ease;
} 

.content--proy1:hover a,
.content--proy2:hover a,
.content--proy3:hover a,
.content--proy4:hover a,
.content--proy5:hover a,
.content--proy6:hover a {
    transform: scale(0.8);
} 